.barbg {
    padding: 0;
    width: 400px;
    height: 20px;
    background-color: darkgray;
    border: lightgray inset 3px;
}
.bar {
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    height: 20px;
    color: white;
    text-align: right;
}
red {
    display: inline;
    color: red;
}

.icon {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(/static/icons.png);
}

.icon-search    { background-position: 0px   0px; }
.icon-profile   { background-position: 32px  0px; }
.icon-upload    { background-position: 64px  0px; }
.icon-download  { background-position: 96px  0px; }
.icon-delete    { background-position: 128px 0px; }
.icon-edit      { background-position: 160px 0px; }
.icon-share     { background-position: 192px 0px; }

.icon-flag      { background-position: 0px   32px; }

.icon-block     { background-position: 64px  32px; }
.icon-error     { background-position: 96px  32px; }
.icon-warning   { background-position: 128px 32px; }
.icon-thup      { background-position: 160px 32px; }
.icon-thdown    { background-position: 192px 32px; }

.icon-thup-press    { background-position: 160px 64px; }
.icon-thdown-press  { background-position: 192px 64px; }
